.main_bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(77, 56, 201, 0.3);
  z-index: 0;
  pointer-events: none;
}

.not_found_bg {
  background-image: url(../../public/assets/backdrops/404.jpg);
  background-size: cover;
  background-position: center;
}
